$first-color: #004d99; // granatowy(napisy)
$second-color: #009ee0; // bękitny (kolor motywu)
$third-color: #484848; //ciemno szary (kolor motywu, czcionek)
$forth-color: #b2b2b2; // jasno szary (kolor motywu)
// $fifth-color: 
